<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado de personas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Mostrar rejilla con contactos, indicando filas y columnas-->
  <ion-grid>
    <!-- Filas -->
    <ion-row>
      <!-- Columnas(CELDAS) con bucle para que las celdas cojan cada una de las personas -->
      <!-- Bucle de Angular: *ngFor -->
      <!-- En la variable users del .ts están las personas -->
      <!-- Declaramos la variable user que guardará cada una de las personas (las carga desde users):
         let user of users. Al ser datos descargados de Internet debe hacerlo de forma asíncrona (según recibe los datos los va tratando)-->
        <!-- número de columnas que queremos que se muestren, cuantas unidades de medida le damos a las columnas.
        Vienen de 12 en 12. Le decimos que use tamaño extra grande (hay que decirle un divisor de 12, 12 es una única columna)
        Size divide la pantalla en 12 trozos. Si le digo 6 (me divide 12/6 = 2 columnas)-->
         <ion-col *ngFor="let user of users | async" size-xl="2" size-lg="2" size-md="4" size-sm="6" size-xs="12">
        <!-- Mostramos la persona -->
        <ion-card>
          <ioncard-content>
            <!-- Mostramos la imagen de la persona -->
            <!-- en randomuser.me vemos el campo (picture) (hay 3 tamaños) cogemos el mediano-->
            <!-- Poner la imagen como si fuera un Avatar(dentro de un círculo)-->
            <ion-avatar>
              <img [src]="user.picture.medium">
            </ion-avatar>          
            <!-- Mostramos el nombre y apellidos como si fuera html (entre llaves dobles) -->
            <h1>{{ user.name.first }} {{ user.name.last }}</h1>
            <!-- Metemos un texto de contenido -->
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat vehicula semper. Vivamus porta lectus non justo vulputate fringilla eget ut ligula.
          </ioncard-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
